# Managed by usegalaxy-eu.monitoring. State is written by monitored commands and read by Telegraf.
d {{ script_watchdog_state_dir }} {{ script_watchdog_state_mode }} {{ script_watchdog_state_owner }} {{ script_watchdog_state_group }} -
